.search-wrapper {
  position: fixed;
  top: 10%;                
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;             
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
